<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs') %>
  <body class="bg-blue-200">
    <%- include('./includes/navigation.ejs') %>
    <main class="flex justify-center">
      <div class="w-full max-w-xs mt-8">
        <div class="bg-white text-center shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <h3 class="block text-gray-700 text-3xl font-semibold">
            Page not found
          </h3>
        </div>
      </div>
    </main>
    <%- include('./includes/script.ejs') %>
  </body>
</html>
