extends layouts/main-layout.pug

block title
  title Page Not Found

block content
  main.flex.justify-center
    .w-full.max-w-xs.mt-8
      .bg-white.text-center.shadow-md.rounded.px-8.pt-6.pb-8.mb-4
        h3.block.text-gray-700.text-3xl.font-semibold.
          
          Page not found
            

      