extends layouts/main-layout.pug

block title
  title Add Product
  
block content
  main.flex.justify-center
    .w-full.max-w-xs.mt-8
      form.bg-white.text-center.shadow-md.rounded.px-8.pt-6.pb-8.mb-4(action='/admin/add-product' method='post')
        .mb-4
          label.block.text-gray-700.text-3xl.font-semibold.mb-2(for='title').
            
            Product Title
            
          input.shadow.appearance-none.border.rounded.w-full.py-2.px-3.text-gray-700.leading-tight.focus_outline-none.focus_shadow-outline#title(type='text' name='title' placeholder='Product Title')
        .flex.items-center.justify-between
          button.bg-blue-500.hover_bg-blue-700.text-white.font-bold.py-2.px-4.rounded.focus_outline-none.focus_shadow-outline(type='submit').
            
            Add Product
  