<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/customstyle.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Shop</title>
  </head>
  <body class="bg-blue-200">
    <header
      id="top"
      class="w-full flex flex-col sm_relative bg-white pin-t pin-r pin-l"
    >
      <nav
        id="site-menu"
        class="flex flex-col sm_flex-row w-full justify-between bg-teal-500 items-center px-4 sm_px-6 bg-white shadow sm_shadow-none"
      >
        <div
          class="w-full sm_w-auto self-start sm_self-center flex flex-row sm_flex-none flex-no-wrap justify-between items-center"
        >
          <a href="#" class="no-underline py-1">
            <h1 class="font-semibold text-3xl tracking-tight text-white">
              Node.js Practice
            </h1>
          </a>
          <button
            id="menuBtn"
            class="hamburger block sm_hidden focus_outline-none"
            type="button"
            onclick="navToggle();"
          >
            <span class="hamburger__top-bun"></span>
            <span class="hamburger__middle-bun"></span>
            <span class="hamburger__bottom-bun"></span>
          </button>
        </div>
        <div
          id="menu"
          class="w-full sm_w-auto self-end sm_self-center sm_flex flex-col sm_flex-row items-center h-full py-1 pb-4 sm_py-0 sm_pb-0 hidden"
        >
          <a
            class="text-teal-200 hover_text-white text-lg no-underline sm_px-4 py-2 sm_pt-2"
            href="/"
            >Shop</a
          >
          <a
            class="text-teal-200 hover_text-white text-lg no-underline sm_px-4 py-2 sm_pt-2"
            href="/admin/add-product"
            >Add Product</a
          >
        </div>
      </nav>
    </header>
    <main class="flex justify-center">
      <div class="w-full pt-6 pb-8 px-8 mb-4">
        <div class="text-center px-3 pb-6 pt-2">
          <h3 class="text-black text-lg font-semibold mb-8 text-3xl font-sans">
            My Products
          </h3>
          <div class="py-4 px-8 bg-white shadow-lg rounded-lg">
            <div>
              <h2 class="text-gray-800 text-3xl font-semibold">
                Products
              </h2>
              <p class="mt-2 mb-2 text-gray-600">
                This is a cool product.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script>
      function navToggle() {
        var btn = document.getElementById('menuBtn');
        var nav = document.getElementById('menu');
        btn.classList.toggle('open');
        nav.classList.toggle('flex');
        nav.classList.toggle('hidden');
      }
    </script>
  </body>
</html>
