<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/customstyle.css")
    link(rel="stylesheet", href="/css/style.css")
    title #{docTitle}
  body.bg-blue-200
    header#top.w-full.flex.flex-col.sm_relative.bg-white.pin-t.pin-r.pin-l
      nav#site-menu.flex.flex-col.sm_flex-row.w-full.justify-between.bg-teal-500.items-center.px-4.sm_px-6.bg-white.shadow.sm_shadow-none
        .w-full.sm_w-auto.self-start.sm_self-center.flex.flex-row.sm_flex-none.flex-no-wrap.justify-between.items-center
          a.no-underline.py-1(href='#')
            h1.font-semibold.text-3xl.tracking-tight.text-white.

              Node.js Practice

          button#menuBtn.hamburger.block.sm_hidden.focus_outline-none(type='button' onclick='navToggle();')
            span.hamburger__top-bun
            span.hamburger__middle-bun
            span.hamburger__bottom-bun
        #menu.w-full.sm_w-auto.self-end.sm_self-center.sm_flex.flex-col.sm_flex-row.items-center.h-full.py-1.pb-4.sm_py-0.sm_pb-0.hidden
          a.text-teal-200.hover_text-white.text-lg.no-underline.sm_px-4.py-2.sm_pt-2(href='/') Shop
          a.text-teal-200.hover_text-white.text-lg.no-underline.sm_px-4.py-2.sm_pt-2(href='/admin/add-product') Add Product
    main.flex-grow.flex.justify-center.items-center
      .mx-auto.px-4.sm_px-8.py-2.text-center
        .text-center.max-w-lg.mx-auto.mt-6
          if products.length > 0
            h3.text-black.text-lg.font-semibold.mb-8.text-3xl.font-sans.
              My Products
          else
            h3.text-black.text-lg.font-semibold.mb-8.text-3xl.font-sans.
              No Products
        .grid.grid-cols-6.gap-4.items-start.mt-8.mx-auto.px-8
          each product in products
            .col-span-6.sm_col-span-6.md_col-span-3.lg_col-span-2.xl_col-span-2
              .bg-white.shadow-lg.rounded-lg.px-4.py-6.mx-4.my-4
                .px-4.py-2
                  h1.text-gray-900.font-bold.text-3xl.uppercase.

                    #{product.title}

                  p.text-gray-600.text-sm.mt-1.

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quos quidem sequi illum facere recusandae voluptatibus

                img.h-56.w-full.object-cover.mt-2(src='https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80' alt='NIKE AIR')
                .flex.items-center.justify-between.px-4.py-2.bg-gray-900
                  h1.text-gray-200.font-bold.text-xl $129
                  button.px-3.py-1.bg-gray-200.text-sm.text-gray-900.font-semibold.rounded.

                    Add to cart




script.

  function navToggle() {
    var btn = document.getElementById('menuBtn');
    var nav = document.getElementById('menu');
    btn.classList.toggle('open');
    nav.classList.toggle('flex');
    nav.classList.toggle('hidden');
      }
