<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body class="bg-blue-200">
    <%- include('../includes/navigation.ejs') %>
    <main class="flex-grow flex justify-center items-center">
      <div class="mx-auto px-4 sm_px-8 text-center">
        <% if (products.length > 0) { %>
        <div class="text-center max-w-lg mx-auto mt-4">
          <h3 class="text-black text-lg font-semibold mb-8 text-3xl font-sans">
            My Products
          </h3>
        </div>

        <div class="grid grid-cols-6 gap-4 items-start mt-8 mx-auto px-8">
          <% for( let product of products ) { %>
          <div
            class="col-span-6 sm_col-span-6 md_col-span-3 lg_col-span-2 xl_col-span-2"
          >
            <div class="bg-white shadow-lg rounded-lg px-4 py-6 mx-4 my-4">
              <div class="px-4 py-2">
                <h1 class="text-gray-900 font-bold text-3xl uppercase">
                  <%= product.title %>
                </h1>
                <p class="text-gray-600 text-sm mt-1">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
                  quos quidem sequi illum facere recusandae voluptatibus
                </p>
              </div>
              <img
                class="h-56 w-full object-cover mt-2"
                src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                alt="NIKE AIR"
              />
              <div
                class="flex items-center justify-between px-4 py-2 bg-gray-900"
              >
                <h1 class="text-gray-200 font-bold text-xl">$129</h1>
                <button
                  class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded"
                >
                  Add to cart
                </button>
              </div>
            </div>
          </div>
          <% }%>
        </div>
        <% } else { %>
        <div class="bg-white text-center shadow-md rounded px-8 pt-6 pb-8">
          <h3 class="block text-gray-700 text-3xl font-semibold">
            No Products
          </h3>
        </div>
        <% }%>
      </div>
    </main>
    <%- include('../includes/script.ejs') %>
  </body>
</html>
